asgiref
asttokens
async-generator
attrs
beautifulsoup4
certifi
cffi
charset-normalizer
colorama
comm
cryptography
debugpy
decorator
Django
executing
h11
idna
iniconfig
ipykernel
ipython
jedi
jupyter_client
jupyter_core
lxml
matplotlib-inline
nest-asyncio
outcome
packaging
parso
pdfkit
platformdirs
pluggy
prompt_toolkit
psutil
pure_eval
pycparser
Pygments
pyOpenSSL
PySocks
pytest
python-dateutil
pywin32
pyzmq
requests
selenium
six
sniffio
sortedcontainers
soupsieve
sqlparse
stack-data
tornado
traitlets
trio
trio-websocket
typing_extensions
tzdata
urllib3
wcwidth
websocket-client
wsproto
selenium
